<div class="container_header">
	<h1>About Me:</h1>
	<p>
	  Name: James Hoover.<br>
    Email: jamesfhoover@gmail.com<br>
    Location: Seattle, WA.<br>
	  Degree: Computer science.<br>
	  Profession: Software developer.<br>
	  Desired profession: UI/UX designer.
	</p>
</div>