<div class="container_header">
	<h1>About Me:</h1>
  <div class="about_img">
    <%= image_tag("DSCF2236.jpg", height: '326', width: '490') %>
    <p>
      Name: James<br>
      Email: jamesfhoover@gmail.com<br>
      Location: Seattle, WA<br>
      Degree: Computer Science<br>
      Profession: Software Developer<br>
      Desired profession: UI/UX Designer
    </p>
  </div>
</div>