<div class="container_header">
	<h1>About Me:</h1>
  <div class="about_img">
    <%= image_tag("DSCF2236.jpg", height: '326', width: '490') %>
      <h4><span>Name: James<br></span></h4>
      <h4><span>Email: jamesfhoover@gmail.com</span></h4>
      <h4><span>Location: Seattle, WA</span> </h4>
      <h4><span>Degree: Computer Science</span> </h4>
      <h4><span>Profession: Software Developer</span></h4>
      <h4><span>Desired profession: UI/UX Designer</span></h4>
  </div>
</div>