<div class="container_header">
	<h1>About Me:</h1>
  <div class="about_img">
    <%= image_tag("placeholder.png") %>
      <h4><span>Name: James<br></span></h4>
      <h4><span>Email:<a href="mailto:jamesfhoover@gmail.com">jamesfhoover@gmail.com</a></span></h4>
      <h4><span>Location: Seattle, WA</span> </h4>
      <h4><span>Degree: Computer Science</span> </h4>
      <h4><span>Profession: Software Developer</span></h4>
      <h4><span>Desired profession: UI/UX Designer</span></h4>
  </div>
</div>