<body>
  <nav id="topnav" class="container full_width">
    <ul class="margin_left bottom">
      <li><%= link_to "Home", '/', :id =>"nav_home" %></li>
      <li><%= link_to "Work/", '/work/sites', :id =>"nav_work" %></li>
      <li><%= link_to "About", '/about', :id => "nav_about" %></li>
      <li><%= link_to "Contact", '/contact', :id => "nav_contact", :class => "active" %></li>
    </ul>
  </nav>
  <div id="topnav_clear"></div>
  <div class="container contact_page">
    <a href="/">
      <div id="sml_site_info">
        <img src="/assets/me.jpg" width="48" height="48" class="logo">
        <p>
          <h3>James Hoover</h3>
          <h4 class="subtext">UX/UI Design Porfolio</h4>
          <h4 class="subtext">Designer. Engineer. Artist.</h4>
        </p>
        </div>
    </a>
    <h1 class="location bold">Contact Me:</h1>
    <div id="contact_page_content">
      <h4 class="email_big"><a href="mailto:jamesfhoover@gmail.com">jamesfhoover@gmail.com</a></h4>
      <p>I am always looking for more design work.
        If you're interested in my work, have a question, or just want to say hi, please <a href="mailto:jamesfhoover@gmail.com" class="inline_link">get in touch via email.</a>
      </p>
    </div>
  </div>
</body>