  <a name="contact"></a>
  <section class="contact full-row">
    <h1 class="section-title-light">Contact Me.</h1>
    <div class="row">
      <div class="email">
        <a href="mailto:jamesfhoover@gmail.com" title="Email">jamesfhoover@gmail.com</a>
      </div>
      <div class="row">
        <div class="resume-icon">
          <a href="/assets/JamesHooverResume.pdf" title="Download" download><i class="fa fa-download fa-2x"></i><br>Download Resumé</a>
        </div>
        <div class="resume-icon">
          <a href="/assets/JamesHooverResume.pdf"><i class="fa fa-eye fa-2x"></i><br>View Resumé</a>
        </div>
      </div>
      <div class="row">
        <div class="social-icon">
          <a href="https://www.instagram.com/lovejamas/"><i class="fa fa-instagram fa-2x"></i><br>Instagram</a>
        </div>
        <div class="social-icon">
          <a href="https://www.flickr.com/photos/130235786@N06/"><i class="fa fa-flickr fa-2x"></i><br>Flickr</a>
        </div>
        <div class="social-icon">
          <a href="https://www.linkedin.com/in/james-hoover-93265629"><i class="fa fa-linkedin-square fa-2x"></i><br>LinkedIn</a>
        </div>
      </div>
    </div>
    <a href="#top" class="jump"><i class="fa fa-arrow-up"></i> Back to top</a>
    <h6 class="credits">Designed and built by James. 2016.</h6>
  </section>