<section class="container">
  <nav>
    <a href="/">home</a> / <a href="/work">work</a> / <a href="/about">about</a> / <a href="/contact" class="active">contact</a>
  </nav>
  <div class="text__container">
    <!-- <h1 onClick="copyEmail()">jamesfhoover@gmail.com</h1> -->
    <p class="js-emaillink">jamesfhoover@gmail.com
      <span class="tooltip">
      <button class="js-emailcopybtn">
        <span class="tooltiptext" id="myTooltip">Copy to clipboard</span>
        Copy Email
      </button>
    </span>
  </p>
  </div>
</section>

<script> 
var copyEmailBtn = document.querySelector('.js-emailcopybtn');  
copyEmailBtn.addEventListener('click', function(event) {  
  // Select the email link anchor text  
  var emailLink = document.querySelector('.js-emaillink');  
  var range = document.createRange();  
  range.selectNode(emailLink);  
  window.getSelection().addRange(range);  

  try {  
    // Now that we've selected the anchor text, execute the copy command  
    var successful = document.execCommand('copy');  
    var msg = successful ? 'successful' : 'unsuccessful';
    var tooltip = document.getElementById("myTooltip");
    tooltip.innerHTML = "Copied email";
    console.log('Copy email command was ' + msg); 
  } catch(err) {  
    console.log('Oops, unable to copy');  
  }  

  // Remove the selections - NOTE: Should use
  // removeRange(range) when it is supported
  window.getSelection().removeAllRanges();

});
</script>