<div class="container_header">
  <h1>Contact Me:</h1>
  <h4><a href="mailto:jamesfhoover@gmail.com">jamesfhoover@gmail.com</a></h4>
  <p>
    I am always looking for more design work.
    If you're interested in my work, have a question, or just want to say hi, please <a href="mailto:jamesfhoover@gmail.com">get in touch via email.</a><br><br>
  </p>
</div>