<div class="container_header">
  <h1>Contact Me:</h1>
  <p>
    I am always looking for more design work.
    Leave me a note if you're interested or if you just want to say hi.<br>
    Email: <a href="mailto:jamesfhoover@gmail.com">jamesfhoover@gmail.com</a>
  </p>
</div>