<body>
  <nav class="topnav full_width">
    <ul class="center_horizontal_text center_horizontal_block center_vertical">
      <li><%= link_to "Home", '/' %></li>
      <li><%= link_to "Work/", '/work/sites' %></li>
      <li><%= link_to "About", '/about' %></li>
      <li><%= link_to "Contact", '/contact', :class => "active" %></li>
    </ul>
  </nav>
  <div class="container_header">
    <h1>Contact Me:</h1>
    <h4><a href="mailto:jamesfhoover@gmail.com">jamesfhoover@gmail.com</a></h4>
    <p>
      I am always looking for more design work.
      If you're interested in my work, have a question, or just want to say hi, please <a href="mailto:jamesfhoover@gmail.com">get in touch via email.</a><br><br>
    </p>
  </div>
</body>