<div class="container_header">
  <h1>Contact</h1>
  <p>
    I am always looking for more design work.
    Leave me a note if you're interested or if you just want to say hi.
    Email: jamesfhoover@gmail.com
  </p>
</div>