<body>
	<a name="top"></a>
	<!-- START HEADER -->
	<header class="projects-page-header">
		<nav class="row">
			<ul>
				<li class="site-url under-text"><a href="/" class="under-slide">jameshooverdesign.com</a></li>
				<li><a href="/#projects" class="back"><i class="fa fa-arrow-left"></i>Back</a></li>
			</ul>
		</nav>
		<div class="row">
			<h1 class="project-name">DealTapp</h1>
		</div>
	</header>
	<section class="projects-page">
		<div class="row project-details">
			<div class="two-thirds first">
				<p class="bold">DealTapp is an application to find Seattle's hottest dining, cafes, and entertainment. I was recently brought onto the DealTapp team as the Lead UX Designer. My main goal is to take the current state of the app and increase the usability and user satisfaction.</p>
				<p class="bold">DealTapp is already built and in production so I have tweaked my design process to fit the situation.</p>
				<h2 class="project-header">The Goals of the Business</h2>
				<p class="project-subheader">I sat down with the founders to figure out their main goals.</p>
				<ul class="fa-ul">
					<li><i class="fa-li fa fa-square"></i>Support local businesses by increasing their visibility and driving business to them.</li>
					<li><i class="fa-li fa fa-square"></i>Give business users control over deals. (e.g. product count, discount amount, expiration date).</li>
					<li><i class="fa-li fa fa-square"></i>Allow the consumer users to find deals, claim them with tokens, and redeem the deals.</li>
					<li><i class="fa-li fa fa-square"></i>Allow the consumer users to purchase tokens.</li>
				</ul>
				<h2 class="project-header">Current State of DealTapp</h2>
				<p class="project-subheader">Analyzing the state of DealTapp when I joined</p>
				<p>I am the first designer for DealTapp. Because of this there is no documentation about the current app design. I set out to document the current user flows and information architecture. Now I will have something to refer to and revise during testing and research.</p>
			</div>
			<div class="one-third">
				<div class="phone">
					<div class="phone-screen">
						<%= image_tag "projects/dealtapp/landing.png" %>
					</div>
						<%= image_tag "projects/google-nexus-5.svg", class: "phone-border" %>
				</div>
			</div>
		</div>
		<div class="row">
			<h2 class="project-header">Competitive Analysis</h2>
			<p class="project-subheader">Next, I researched the competition to see their solutions</p>
			<p>Groupon and Living Social are the top competitors. Running through Groupon's application I found that it has a similar structure to DealTapp. I made use of this by creating slides comparing the screens of DealTapp and Groupon. This makes it easy to see how the two solve similar usability issues. I plan on consulting the slides after usability testing to see how Groupon solves issues that DealTapp faces.</p>
		</div>
		<div class="row">
			<h2 class="project-header">User Testing</h2>
			<p class="project-subheader">After some research and documentation I have started user tests to uncover usability issues</p>
			<p>Jakob Nielsen of the Nielsen Norman Group recommends running a lot of small user tests to save resources. He says testing no more than 5 users and running as many small tests as possible will uncover all usability issues. <a href="https://www.nngroup.com/articles/why-you-only-need-to-test-with-5-users/" class="inline-link">Source.</a> Given the limited resources at hand I decided that this 5 user method would be best.</p>
			<p>Testing the present app I've seen that the biggest usability issues are signing up, checking claimed deals, and redeeming deals. Users are also having trouble understanding the purpose and main functionality of the application. These are my priority issues that I am focusing to fix.</p>
		</div>
		<div class="row screens">
			<h2 class="project-header">Where I am now</h2>
			<p class="project-subheader">Now I am using the insights from usability testing to create paper prototypes.</p>
			<p>I will use the paper prototypes to test and validate my proposed design solutions.</p>
			<p>Some examples of proposed solutions:</p>
			<ul class="fa-ul">
					<li><i class="fa-li fa fa-square"></i>I am working to make signing up more visible and adding helpful dialog to guide the user along the process.</li>
					<li><i class="fa-li fa fa-square"></i>Changing the menu icon from a gear to a hamburger icon to better follow convention.</li>
					<li><i class="fa-li fa fa-square"></i>Adding more info about the functionality of the app and how the entire process works to give users a clear conceptual model.</li>
				</ul>
			<p>I will have more updates soon! (April 2016)</p>
		</div>
	</section>
	<%= render template: "pages/contact" %>
	<script type="text/javascript">
    $('.screens').magnificPopup({
      delegate: 'a', // child items selector, by clicking on it popup will open
      type: 'image',
      gallery: {
        // options for gallery
        enabled: true
      }
    });
  </script>
</body><!-- END BODY -->