<div class="container_home_header">
  <h1>James Hoover</h1>
  <h2>UI/UX Design Porfolio</h2>
  <h4>Seattle, WA</h4>
</div>
<div class="container_home_navbox">
  <ul>
    <li id="work_nav_id"><%= link_to "My Work", '/work/sites' %><p>Experience my work.</p></li>
    <li id="about_nav_id"><%= link_to "About Me", '/about' %><p>Learn what I do and what I like.</p></li>
    <li id="contact_nav_id"><%= link_to "Work With Me", '/contact' %><p>Send me a quick message.</p></li>
  </ul>
</div>