<!-- BODY -->
<body>
  <div class="wrapper">
    <!-- HEADER -->
    <header class="main-nav">
      <!-- Logo/site info -->
      <section class="site-info row">
        <article class="logo pull first">
          <a href="/" title="Home" class="logo-link">
            <img src="/assets/icons/logoCopy.png" class="logo-img"><h4>JamesHooverDesign.com</h4>
          </a>
        </article>
        <article class="main-contact-info push">
          <h4>James Hoover - Portfolio</h4>
          <h4><a href="mailto:jamesfhoover@gmail.com" title="Email" class="black">jamesfhoover@gmail.com</a></h4>
        </article>
      </section>
      <!-- NAV -->
      <nav class="site-nav row">
        <ul>
          <li><%= link_to "Home", '/', class: "nav-black current" %></li>
          <li><%= link_to "Work", '/work/sites', class: "nav-red" %></li>
          <li><%= link_to "About", '/about', class: "nav-green" %></li>
          <li><%= link_to "Contact", '/contact', class: "nav-blue" %></li>
        </ul>
      </nav>
    </header><!-- END HEADER -->
    <!-- SECTION home-content -->
    <section class="home-content">
      <div class="row">
        <article class="pull first">
          <h1>James Hoover</h1>
          <h2 class="home_subtitle">Web Design Porfolio</h2>
          <h4>I design and build websites!</h4>
          <h4 class="work-desc">
            <a href="/work/sites" title="View Work" class= "black">View my work</a>, 
            <a href="/about" title="About Me" class= "black">get to know me</a>, or 
            <a href="/contact" title="Contact Me" class= "black"> contact me</a> for availability.
          </h4>
        </article>
      </div>
      <section class="row">

        <article class="home-navicons first">
          <a class="navicon-link" href="/work/sites" title="Work">
            <div class="work-bkgrd home-navicons-content">
              <h3>My Work</h3>
            </div>
          </a>
          <a class="navicon-link" href="/about" title="About">
            <div class="about-bkgrd home-navicons-content">
              <h3>About Me</h3>
            </div>
          </a>
          <a class="navicon-link" href="/contact" title="Contact">
            <div class="contact-bkgrd home-navicons-content">
              <h3>Contact Me</h3>
            </div>
          </a>
        </article>
      </section>
    </section>
  </div>
  <!-- FOOTER -->
  <footer class="row">
    <section class="footer foot-push">
      <h6 class="copyright">&copy;2015 - James Hoover</h6>
    </section>
  </footer>
</body>
