<div class="container_home_header">
  <h1>James Hoover</h1>
  <h2>Aspiring UI/UX designer.</h2>
  <p>Seattle, WA</p>
</div>
<div class="container_home_navbox">
  <ul id="menu">
    <li><%= link_to "My Work", '/work/sites' %><p>Experience my work.</p></li>
    <li><%= link_to "About Me", '/about' %><p>Learn what I do and what I like.</p></li>
    <li><%= link_to "Contact Me", '/contact' %><p>Send me a quick message.</p></li>
  </ul>
</div>