<div class="container right">

  <nav>
    <a href="/">home</a> / <a href="/work" class="active">work</a> / <a href="/about">about</a> / <a href="/contact">contact</a>
  </nav>

  <div class="gallery__image">
    <%= image_tag "work/rhino_hey.svg", class: 'gallery__image--img'%>
  </div>

  <div class="gallery__image">
    <%= image_tag "work/queen_agnes.png", class: 'gallery__image--img'%>
    <h2>Agnes, queen of the dog park<br><small>(and our home)</small></h2>
  </div>



  <div class="gallery__image">
    <div class="gallery__image--container">
      <%= image_tag "work/tmoneypizza.jpg", class: 'gallery__image--img'%>
      <h2>My father's retirement hobby needed a logo.
      <br><small>(and a cool stamp for his pizza boxes)</small></h2>
    </div>
  </div>


</div>

<script type="text/javascript">
$(function showImage() {
  $(".gallery__photo").click(function() {
    var close = document.getElementById('close-button');
    if ($(".gallery__photo").hasClass("active-view")) {
      $(this).removeClass("active-view");
      close.style.display = 'none';
    } else {
      $(this).addClass("active-view");
      close.style.display = 'inline-block';
    }
  });
});
</script>