
<div class="container">
	<div class="home__image">
		<div class="home__image--container">
			<%= image_tag "image.jpg", class: 'home__image--img', :onclick=>"showName()" %>
			<span id="showName">sweet little winnie :)</span>
		</div>
	</div>
	<div id="colored__text" class="home__text">
		<!-- <h1>James Hoover <br>Product Designer</h1> -->
		<h1>Hello, World</h1>
		<p>I’m a self-taught designer from Seattle. Currently the product designer @ <a href="https://algorithmia.com/" id="colored__link" target="_blank">Algorithmia</a>.</p>
		<ul>
			<li><span class="strike-through">Facebook</span></li> &#x2219;
			<li><span class="strike-through">Instagram</span></li> &#x2219;
			<li><span class="strike-through">Twitter</span></li> &#x2219;
			<li onClick="showEmail()" class="action">Email</li>
		</ul>
		<span id="showEmail" class="social-info"><br>jamesfhoover@gmail.com</span>
	</div>
	<span onClick="randomize()" class="colored__helper">trouble reading?</span>
</div>