
<div class="container">
	<div class="home__image">
		<div class="home__image--container">
			<%= image_tag "shoes.jpg", class: 'home__image--img' %>
		</div>
	</div>
	<div class="home__text">
		<h1>James Hoover <br>Product Designer</h1>
		<p>I’m a self-taught designer living in Seattle. Currently the product designer @ <a href="https://algorithmia.com/" target=_blank>Algorithmia</a>.</p>
		<ul>
			<li><span class="strike-through">Facebook</span> &#x2219;</li>
			<li><span class="strike-through">Instagram</span> &#x2219;</li>
			<li><span class="strike-through">Twitter</span> &#x2219;</li>
			<li>jamesfhoover@gmail.com</li>
		</ul>
	</div>
</div>