<div class="breadcrumbs">
  <a href="/">home</a> / <a href="/work">selected work</a> / <span class="active"> product design</span>
</div>

<div class="container">
  <div class="gallery__text">
    <h1>Product Design</h1>
  </div>
</div>

<script type="text/javascript">
$(function showImage() {
  $(".gallery__photo").click(function() {
    var close = document.getElementById('close-button');
    if ($(".gallery__photo").hasClass("active-view")) {
      $(this).removeClass("active-view");
      close.style.display = 'none';
    } else {
      $(this).addClass("active-view");
      close.style.display = 'inline-block';
    }
  });
});
</script>