<div class="container_header">
  <h1>My Work</h1>
</div>
<ul class="worknav">
	<li><%= link_to "Sites", '/work/sites' %></li>
	<li><%= link_to "Art", '/work/art' %></li>
  <li><%= link_to "Photograhy", '/work/photography' %></li>
</ul>
<h2>Sites</p>