<div class="header">
<h1>My Work</h1>

<h2>My Work</h2>
</div>
<ul class="work">
  <li><%= link_to "Photograhy", '/work/photography' %></li>
  <li><%= link_to "Art", '/work/art' %></li>
  <li><%= link_to "Sites", '/work/sites' %></li>
</ul>

