@import url('https://fonts.googleapis.com/css?family=Libre+Franklin:100,400,700,900');

/*
	James Hoover
	jameshooverdesign.com
*/

/* Reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr,
acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong,
sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table,
caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}

body {
	line-height: 1;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	-webkit-text-size-adjust: none;
}

/* Box Model */
*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
::-moz-selection { /* Code for Firefox */
    background: red;
}

::selection { 
    background: red;
}

body {
	font-size: 16px;
	font-family: 'Libre Franklin', sans-serif;
	font-weight: lighter;
	color: #9013FE;
	background-color: #96FFE8;
}
h1,h2,h3,h4,h5,h6,li,p {
	line-height: 1.5;
}
h1 {
	font-size: 1.5rem;
	font-weight: 700;
	margin-bottom: 4rem;
}
p {
	font-size: 1.75rem;
	margin-bottom: 2.25rem;
  letter-spacing: 1.3px;
  line-height: 1.5;
}
ul {
	
}
li {
	font-size: 1.125rem;
	letter-spacing: 1px;
	display: inline-block;
}
a {
	
}
a:hover {
	text-decoration: none;
}
a:focus {}
a:visited {
	color: inherit;
}

.container {
  position: relative;
  max-width: 1080px;
  min-height: 100vh;
  padding: 0 1rem;
  width: 100%;
  margin: 0 auto;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.home__image {
	height: 100vh;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

	left: 0;
	top: 0;
}

.home__image--container {
  position: relative;
  width: 100%;
  height: auto;
}
.home__image--container {
	right: auto;
}

.home__image--img {
	width: 100%;
  height: auto;
}

.home__text {
	max-width: 680px;
  position: relative;
}


.strike-through {
text-decoration: line-through;
}
/* XXSmall */
@media screen and (min-width: 320px) {}
/* XSmall */
@media screen and (min-width: 480px) {}
/* Small */
@media screen and (min-width: 736px) {
	.home__image--container {
		right: 1rem;
	}
	.home__image {
	  max-width: 520px;
  	-webkit-box-align: center;
  	-ms-flex-align: center;
  	align-items: center;
  	right: 0;
  	left: auto;
  }
}
/* Medium */
@media screen and (min-width: 980px) {}
/* Large */
@media screen and (min-width: 1140px) {}
/* XLarge */
@media screen and (min-width: 1680px) {}







