/* --------------------------------------------------
** pages.css
** Stylesheet for www.jameshooverdesign.com
** Author: James Hoover (jamesfhoover@gmail.com)
** Copyright: 2015
** -------------------------------------------------- */

/** TODO:
**  --------------------------------------------------
**  Design a logo
**  Choose what photos to put on site
**  Choose/take pic for contact page
**  New pic for about page
**  Open link in new tab
**  SEO and Google Analytics
**  Remove unnecessary Google font links
**  Some sort of 'pop out' on the photos page
**  Footer on Contact is not default visible
**  The subnav still looks bad
**  Trying out flat icons. If outline need github outline
**  Go full minimalistic, you need a unique design that people remember
**  Get better quality photography pics. and lower too high res ones.
**  About page talks all about UX but homepage says webdesign...
**  
**  -------------------------------------------------- */

/* $HTML ELEMENTS
================================================== */
/* Typography
------------------------- */
html { 
  font-family: 'Quicksand', Sans-Serif;
  font-size: 100%;
  background-color: #F7F6F4;
}
html,
body {height: 100%;}
h1 {font-size: 3em;}
h2 {font-size: 2em;}
h3 {font-size: 1.5em;}
h4 {font-size: 1.1em;}
h5 {font-size: 1em;}
h6 {font-size: .75em;}
p {
  font-family: 'Open Sans', Sans-Serif;
  color: #555;
  font-size: 1em;
  line-height: 1.375em;
  margin-bottom: 2em;
}
/* Highlight selection */
*::selection {
  background-color: #000;
  color: #fff;
}

/* $CONTENT 
================================================== */
/* $Links
------------------------- */
/* Default Style */
a,
a:link,
a:visited,
a:active,
a.current,
a:hover {
  color:  #000;
  cursor: pointer;
  text-decoration: none;
}
a:hover {text-decoration: underline;}
/* Inline or non-prominent links */
a.black {border-bottom: 1px dotted #000;}
a.red   {color: #F00;    border-bottom: 1px dotted #F00;}
a.green {color: #00C400; border-bottom: 1px dotted #00C400;}
a.blue  {color: #8080FF; border-bottom: 1px dotted #8080FF;}
a.black:hover {border-bottom: 1px solid #000;}
a.red:hover   {border-bottom: 1px solid #F00;}
a.green:hover {border-bottom: 1px solid #00C400;}
a.blue:hover  {border-bottom: 1px solid #8080FF;}
a.red:hover,
a.black:hover,
a.green:hover,
a.blue:hover {text-decoration: none;}
/* Nav links - Default: Black no border. Color, bold, border-bottom on hover and .current */
a.nav-black,
a.nav-red,
a.nav-green,
a.nav-blue {border-bottom: 1px dotted #000;}
a.nav-black:hover,
a.nav-red:hover,
a.nav-green:hover,
a.nav-blue:hover    {text-decoration: none;}
a.nav-red:hover,
a.nav-red.current   {color: #F00;    border-bottom: 2px solid #F00;}
a.nav-green:hover,
a.nav-green.current {color: #00C400; border-bottom: 2px solid #00C400;}
a.nav-blue:hover,
a.nav-blue.current  {color: #8080FF; border-bottom: 2px solid #8080FF;}
a.nav-black:hover,
a.nav-black.current {border-bottom: 2px solid #000000;}
a.sub-link {border-bottom: 1px dotted black;}
/* boxed outline */
a.outline-black,
a.outline-red,
a.outline-green,
a.outline-blue  {display: inline-block;}
a.outline-black {padding: 10px; color: #000;    border: 1px dotted #000;}
a.outline-red   {padding: 10px; color: #F00;    border: 1px dotted #F00;    background-color: rgba(255,0,0,.1);}
a.outline-green {padding: 10px; color: #00C400; border: 1px dotted #00C400; background-color: rgba(0,196,0,.1);}
a.outline-blue  {padding: 10px; color: #8080FF; border: 1px dotted #8080FF; background-color: rgba(128,128,255,.1);}
a.outline-black:hover {border: 1px solid #000;}
a.outline-red:hover   {border: 1px solid #F00;}
a.outline-green:hover {border: 1px solid #00C400;}
a.outline-blue:hover  {border: 1px solid #8080FF;} 


/* $HEADER
================================================== */
/* Logo/Site info
------------------------- */
a.logo-link:hover img,
a.logo-link:hover h4  {opacity: 1;}
a.logo-link:hover h4  {text-decoration: underline;}
.logo {
  white-space: nowrap;
  padding-top: .25em;
}
.logo img {opacity: .5;}
.logo {line-height: 34px;}
.logo-img {
  float: left;
  width: 34px;
  height: 34px;
  margin-right: .5em;
}
.site-info {
  text-align: right;
  padding: 15px 0 50px;
}

/* $NAVIGATION 
================================================== */
.site-nav {padding-bottom: 50px; text-align: left;}
.site-nav > ul > li {
  display: inline-block;
  font-size: 1.3em;
  padding-right: 15%;
}
.site-nav li:last-of-type,
.work-nav li:last-of-type {padding-right: 0;}

.work-nav {
  margin: 15px 0;
  padding-bottom: 5px;
}
.work-nav ul {
  font-size: 2em;
  padding: 10px 0 50px 0;
  text-align: center;
}
.work-nav li {display: inline-block; padding-right: 30px;}

/* Sub-nav on site-nav 
------------------------- */
.sub-site-nav {
  position: absolute;
  font-size: .8em;
  padding: 15px 0 0 10px;
}
.sub-site-nav li {display: inline; padding-right: 10px;}
/*
.sub-nav li {float: left; font-size: .8em;}
ul.sub_topnav,
ul.sub_topnav_hidden {padding: .75em 0 1em 1em;}
ul.sub_topnav li,
ul.sub_topnav_hidden li {
  font-size: .5em;
  width: 7.5em;
  padding: .1em 3em .1em .5em;
  border-left: 1px solid #BABABA;
}
*/
/* subnav hover only on non work pages */
/*
.main-nav li ul.sub_topnav_hidden {
  display: none;
  position: absolute;
  width: auto;
  padding-right: 2em;
}
.main-nav li:hover ul.sub_topnav_hidden {display: block;}

.sub_topnav_hidden li.active {border-left: 1px solid #F00;
  text-decoration:
  underline; color: #F00;
}
.sub_topnav li:hover,
.sub_topnav_hidden li:hover {
  border-left: 1px solid #F00;
  background-color: #F00;
  color: white;
  font-weight: bold;
}
.sub_topnav li.active {border-left: 2px solid #F00; text-decoration: none;}
*/

/* $PAGES 
================================================== */
.page-title {padding-bottom: 50px; text-align: center;}
.sub-title {padding: 10px 0 50px 0; text-align: center;}
.stand-out {font-weight: bold;}


/* $HOME 
================================================== */
.home-info {text-align: center;}
.home-info h2 {padding-bottom: 30px;}
.home-info h4 {padding-bottom: 15px;}
/* Centers navicon when single on row */
.navicon-block {text-align: center; padding-bottom: 30px;}
a.navicon-link {text-decoration: none;}
a.navicon-link:hover div {opacity: 1; text-shadow: 1px 1px 0px black;}
a.navicon-link:hover h3 {border: 1px solid white; color: white; background-color: rgba(255,255,255,0);}

.navicon-content {
  position: relative;
  height: 300px;
  width: 100%;
  max-width: 350px;
  background-color: #000;
  margin: 0 auto;
  -webkit-box-shadow: 10px 10px 10px 0px rgba(204,204,204,1);
  -moz-box-shadow:    10px 10px 10px 0px rgba(204,204,204,1);
  box-shadow:         10px 10px 10px 0px rgba(204,204,204,1);

  -webkit-transition: .5s ease;
  -moz-transition:    .5s ease;
  -o-transition:      .5s ease;
  transition:         .5s ease;
  opacity: .65;
}
.navicon-content h3 {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 5px 15px;
  border: 1px dotted white;
  margin: 3px 3px;
  color: black;
  background-color: rgba(255,255,255,.3);
}
.work-bkgrd,
.about-bkgrd,
.contact-bkgrd {color: white;}
.work-bkgrd    {background: url(home/laptopLightBW_Copy2.jpg) no-repeat bottom; background-size: cover;}
.about-bkgrd   {background: url(home/james_selfieBW.jpg) no-repeat; background-size: cover;}
.contact-bkgrd {background: url(home/laptopTableBW_Copy2.jpg) no-repeat bottom; background-size: cover;}

/*
.work_bkgrd h3    {background-color:rgba(254,55,0,.5);}
.about_bkgrd h3   {background-color:rgba(128,255,128,.5);}
.contact_bkgrd h3 {background-color:rgba(128,128,255,.5);}
*/

/* $WORK (Projects, Art, Photography) 
================================================== */
.work-title {margin-top: 25px;}
.work-desc  {margin-bottom: 30px;}
.work-title {text-align: center;}
.see-more   {text-align: center;}


/* $Projects 
========================= */
.project-block    {padding-bottom: 75px;}
.project-title    {padding-bottom: 20px; text-align: center;}
.project-title h3 {padding-bottom: 5px;}
.project-desc     {padding-bottom: 30px;}
.project-info     {padding-bottom: 15px;}
.project-info h4  {font-weight: bold;}
.project-img-extra img,
.project-img img  {
  width: 100%;
  margin-bottom: 15px;
  -webkit-box-shadow: 10px 10px 10px 0px rgba(204,204,204,1);
  -moz-box-shadow:    10px 10px 10px 0px rgba(204,204,204,1);
  box-shadow:         10px 10px 10px 0px rgba(204,204,204,1);
}
.project-img-link:hover img {outline: 1px solid #F00;}


/* $Art 
========================= */
.art-block {}
.art-block h5 {padding: 10px 0 30px; text-align: right;}
.art-block img {
  width: 100%;
  border: 1px solid #BABABA;
  -webkit-box-shadow: 10px 10px 10px 0px rgba(204,204,204,1);
  -moz-box-shadow:    10px 10px 10px 0px rgba(204,204,204,1);
  box-shadow:         10px 10px 10px 0px rgba(204,204,204,1);
}
.art-img-link:hover img {border: 1px solid #F00;}

/* $Photography 
========================= */
.photo-block {position: relative; margin-bottom: 30px;}
.photo-block img {
  width: 100%;
  border: 15px solid white;
  border-bottom: 75px solid white;
  -webkit-box-shadow: 10px 10px 10px 0px rgba(204,204,204,1);
  -moz-box-shadow:    10px 10px 10px 0px rgba(204,204,204,1);
  box-shadow:         10px 10px 10px 0px rgba(204,204,204,1);
}
.photo-img-link:hover img {outline: 1px solid #F00;}
.photo-block h5 {
  position: absolute;
  right: 10px;
  bottom: 10px;

}

/* $ABOUT 
================================================== */
.about-me h3,
.about-me h4 {font-weight: bold;}
.about-img img {
  width: 100%;
  margin-bottom: 30px;
  -webkit-box-shadow: 10px 10px 10px 0px rgba(204,204,204,1);
  -moz-box-shadow:    10px 10px 10px 0px rgba(204,204,204,1);
  box-shadow:         10px 10px 10px 0px rgba(204,204,204,1);}

/* $CONTACT 
================================================== */
.contact-info {padding-bottom: 30px;}
.contact-info h3 {padding-bottom: 10px; font-weight: bold;}
.contact-info h3:last-of-type {padding-bottom: 0;}
.contact-paragraph h4 {padding-bottom: 1em;}
.contact-img {position: relative;}
.contact-img img {
  width: 100%;
  margin-bottom: 30px;
  -webkit-box-shadow: 10px 10px 10px 0px rgba(204,204,204,1);
  -moz-box-shadow:    10px 10px 10px 0px rgba(204,204,204,1);
  box-shadow:         10px 10px 10px 0px rgba(204,204,204,1);
}
.contact-img h3 {position: absolute; bottom: 50px; right: 25px; color: white;}


/* $FOOTER 
================================================== */
/* wraps inside entire body */
/*.wrapper {min-height: 95%; margin: 0 auto -10px;}*/
/*.footer,
.foot-push {height: 10px;} *//* .push must be the same height as .footer */
.footer h4 {margin-top: 15px;}
.jump-top {text-align: center; padding: 50px 0 15px;}
.icon-tray {
  margin-top: 100px;
  text-align: center;
}
.icon-tray li {display: inline-block; margin-right: 50px;}
.icon-tray li:last-of-type {margin-right: 0;}
.icon-tray div {opacity: .7}
.icon-tray h4 {padding-bottom: 15px;}
.icon-tray a {display: inline-block;}
.icon-tray a:hover div {opacity: 1;}
.copyright {
  color: black;
  text-align: center;
  margin: 15px 0;
}

/* Social Media Icons
------------------------- */
.github-icon,
.flickr-icon,
.instagram-icon,
.tumblr-icon,
.email-icon     {display:inline-block; width: 60px; height: 60px;}
.github-icon    {background: url(icons/flat/Github.svg)   no-repeat;}
.flickr-icon    {background: url(icons/flat/Flickr.svg)   no-repeat;}
.instagram-icon {background: url(icons/flat/Instagram.svg)no-repeat;}
.tumblr-icon    {background: url(icons/flat/Tumblr.svg)   no-repeat;}
.email-icon     {background: url(icons/flat/Mail.svg)     no-repeat;}


/* $GRID
================================================== */
/* Row
------------------------- */
/* Makes row on page centered of specified width */
.row {
  zoom: 1;
  max-width: 1080px;
  margin: 0 auto;
}
/* row that takes full width of page */
.full-row {
  zoom:   1;
  width:  100%;
  padding: 0 2%;
  margin: 0 auto;
}
/* Row Clearing
------------------------- */
.row:before, .full-row:before {
  content: "";
  display: table;
}
.row:after, .full-row:after {
  content: "";
  display: table;
  clear:   both;
}
/* Column
------------------------- */
.pull, /* float a single object LEFT */
.one-sixth,
.one-fifth,
.one-fourth,
.one-third,
.two-sixths,
.two-fifths,
.one-half,
.two-fourths,
.three-sixths,  
.three-fifths,  
.two-thirds,
.four-sixths,   
.three-fourths, 
.four-fifths,   
.five-sixths {
  float: left;
  margin-left: 4.1666666666667%;
}
.push {float: right;} /* float a single object RIGHT */
.full-row .push {margin-right:  4.1666666666667%;}

.one-sixth     {width: 13.194444444444%;}
.one-fifth     {width: 16.666666666667%;}
.one-fourth    {width: 21.875%;}
.one-third,
.two-sixths    {width: 30.555555555556%;}
.two-fifths    {width: 37.5%;}
.one-half,
.two-fourths,
.three-sixths  {width: 47.916666666667%;}
.three-fifths  {width: 58.333333333333%;}
.two-thirds,
.four-sixths   {width: 65.277777777778%;}
.three-fourths {width: 73.958333333333%;}
.four-fifths   {width: 79.166666666667%;}
.five-sixths   {width: 82.638888888889%;} 
.first {
  clear: both;
  margin-left: 0;
}

/* $MEDIA QUERIES 
========================= */
/* Mobile first query design. Using max and relative units. */
/* Mobile size */
@media screen and (min-width: 0) and (max-width: 40.4em){
  /* minimize navbar on small screen */
  .logo h4            {display: none;}
  .sub-site-nav       {display: none;}
  .sub-title          {display: none;}
  .project-img-extra  {display: none;}
  .site-nav           {text-align: center;}
  .site-nav > ul > li {padding-right: 5%;}
  .work-nav ul {font-size: 1.2em;}
  .work-nav a  {margin-right: 0;}
  .icon-tray a {margin-right: 15px;}
  .row {
    max-width: 100%;
    padding-left: 5%;
    padding-right: 5%;
  }
  .one-sixth,
  .one-fifth,
  .one-fourth,
  .one-third,
  .two-sixths,
  .two-fifths,
  .one-half,
  .two-fourths,
  .three-sixths,  
  .three-fifths,  
  .two-thirds,
  .four-sixths,   
  .three-fourths, 
  .four-fifths,   
  .five-sixths {
    margin: 0;
    width: 100%
  }
  /* Gives photos bottom spacing on each row */
  .photo-block {margin-bottom: 30px;}
}
/* Tablet size */
@media screen and (min-width: 40.5em) and (max-width: 63.9em){
  .sub-site-nav {display: none;}
  .sub-title    {display: none;}
  .row {
    max-width: 100%;
    padding-left: 5%;
    padding-right: 5%;
  }
  .one-sixth,
  .one-fifth,`
  .one-fourth,
  .one-third,
  .two-sixths,
  .two-fifths,
  .one-half,
  .two-fourths,
  .three-sixths {width: 47.916666666667%;}
  .three-fifths,  
  .two-thirds,
  .four-sixths,   
  .three-fourths, 
  .four-fifths,   
  .five-sixths  {width: 100%;}
  .project-info {width: 100%; margin-left: 0;}
}
/* Laptop/Desktop size and beyond */
@media screen and (min-width: 64em){
  .work-nav ul {display: none;}
}

/* $GENERAL 
================================================== */
/* Positioning/Alignment */
.float-right  {float: right;}
.float-left   {float: left;}
.bottom       {position: absolute; bottom: 10%;}
.bottom-left  {position: absolute; left: 0; bottom: 0;}
.bottom-right {position: absolute; right: 0; bottom: 0;}
