/* 
** pages.css
** Stylesheet for pages in design_porfolio rails app
** Author: James Hoover
** Created: Jan 07 2015
*/

/* Apply a natural box layout model to all elements */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
* {
}

/* nav styling */
@media screen and (min-width:600px) {
  .topnav  {
  }
  .container_header {
  }
}
@media screen and (max-width:599px) {
  .topnav  li {

  }
  .topnav  {
  }
}

nav.topnav {

}

.topnav li{
  float: left;

}
/* Dropdown menu */
/* TODO: Fix so hovering doesnt move other menu links */
ul#drop_menu ul {
    padding:0px;
}
ul#drop_menu li {
  position:relative;
  list-style-type:none;
  float: left;
}
ul#drop_menu li > ul {
  display: none;
}
ul#drop_menu li:hover > ul {
  display:block;
}

ul, li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.topnav a:link {
  /*
  text-decoration: none;
  padding-right: 1em;
  */
}

/* TODO: fix. doesnt seem to be working */
.topnav a:visited {
    text-decoration: none;
}

.topnav a:hover {
  color: red;
  text-decoration: underline;
}

.topnav a:active {
  color: orange;
}

nav.topnav ul li > ul{
  /*
  padding-right: 5em;
  */
  display: none;
}

nav.topnav ul li:hover > ul{
  /*
  padding-right: 5em;
  */
  display: block;
}

.navbox {
  /*
  width: 50%;
  margin-left: 0;
  margin-right: 0;
  */
}
.navbox li {
  /*
  float: left;
  padding: 1em;
  */
}

.navbox p {
  /*
  width: 150px;
  */
}
/* header styling */
.container_home_header {
  /*
  display: inline-block;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  */
  /*
  width: 61.8%%;
  margin: 0 auto;
  */
  text-align: center;
  padding-top: 6.18%;
  padding-bottom: 12.36%;
}
.container_home_navbox {
  text-align: center;
}
.container_home_navbox li {
  float: left;
  width: 33.33%;
}

.container_home_navbox p {
  display: block;
}

.container_body {
  padding-top: 6.18%;
}
.container_worknav {

}
/* HTML elements styling */
body {
  width: 61.8%%;
  margin: 0 auto;

}
h1 {
}



