/* 
** pages.css
** Stylesheet for pages in design_porfolio rails app
** Author: James Hoover
** Created: Jan 07 2015
*/

/* Apply a natural box layout model to all elements */
*, *:before, *:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
* {
}

/* nav styling */
@media screen and (min-width:600px) {
  .topnav  {
  }
  .container_header {
    clear: left;
  }
}
@media screen and (max-width:599px) {
  .topnav  li {

  }
  .topnav  {
  }
}

.topnav {
}

.topnav li{
  display: inline;  
}

ul, li {
  /* Removed right now for styling purposes */
  list-style-type: none;
}

.topnav a:link {
  text-decoration: none;
  padding-right: 1em;
}

/* TODO: fix. doesnt seem to be working */
.topnav a:visited {
    text-decoration: none;
}

.topnav a:hover {
  color: red;
  text-decoration: underline;
}

.topnav a:active {
  color: orange;
}

.navlink_home {
  padding-right: 5em;
}

.worknav li {
  display: inline;
}

.navbox {
  width: 50%;
  margin-left: 0;
  margin-right: 0;
}
.navbox li {
  float: left;
  padding: 1em;
}

.navbox p {
  width: 150px;
}
/* header styling */
.container_home_header {
  display: inline-block;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.container_body {
  width: 1220px;
  margin: auto;
}

/* basic HTML elements styling */
body {
  position: relative;
  min-height: 100%;
  top: 0px;
  margin: 0px;
}
h1 {
  font-weight: 700;
  font-size: 46px;
}



