/* --------------------------------------------------
** style.css
** Stylesheet for www.jameshooverdesign.com
** Author: James Hoover (jamesfhoover@gmail.com)
** Copyright: 2016
** -------------------------------------------------- */

/* TODO:
--------------------------------------------------
** Remove <br>'s from HTML about section
** Put alt's in img tags
-------------------------------------------------- */

/* $HTML ELEMENTS
================================================== */
/* Typography
------------------------- */
html { 
  background-color: #F7F6F4;
  color: #fff;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
}
html, body {
	height: 	 100%;
  font-size: 100%;
}
h1, h2, h3, h4, h5, h6 {}
h1 {font-size: 3.5em;}
h2 {font-size: 2.5em;}
h3 {font-size: 2.125em;}
h4 {font-size: 2em;} /* Same size as paragraph */
h5 {font-size: 1.875em;}
h6 {font-size: 1.5em;}
ul, li, span, p {font-family: 'Roboto', sans-serif; text-align: justify;}
p {
  font-family: 'Roboto', sans-serif; /* change font to something normal */
	font-size: 		1.25em;
  line-height: 	1.7;
  padding-bottom: 1em;
  text-align: justify;
}
img {width: 100%;}
/* Links
------------------------- */
a,
a:link,
a:visited,
a:active,
a:hover {
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  -webkit-transition: all .3s ease-out;
  -moz-transition:    all .3s ease-out;
  -o-transition:      all .3s ease-out;
  transition:         all .3s ease-out;
}
a:hover            {color: #FF5C62;}
.border            {border-bottom: 2px solid #E5EEC1;}
.border:hover      {border-bottom: 2px solid #FF5C62;}
.background        {padding: 5px 10px; border-bottom: 2px solid #E5EEC1;}
.background:hover  {
  background-color: #fff;
  color: #FF5C62;
  border-bottom: none;
  border-radius: 2px;
/*  box-shadow: 0 0 0 2px #FF5C62;*/
}
.button {
  text-transform: ;
  font-size: .75em;
  padding: 5px 16px;
  background-color: #fff;
  border-radius: 2px;
  color: #3EACA8!important;
}
.button:hover {
  color: #fff;
  box-shadow: 0 0 5px 2px rgba(0,0,0,.3);    
  -webkit-transition: all 0s ease-out;
  -moz-transition:    all 0s ease-out;
  -o-transition:      all 0s ease-out;
  transition:         all 0s ease-out;
}
/* Highlight selection */
*::selection {background-color: #000; color: #fff;}

/* $NAVIGATION
================================================== */
nav {
  top: 0;
  left: 0;
  width: 100%;
  min-height: 10vh;
  padding: 25px 0;
  /* text-shadow: 1px 1px 5px #5A5050; */
}
nav ul {display: inline-block; width: 100%; text-align: right;}
nav li {
  text-align: right;
  font-size: 1.75em;
  font-weight: 400;
  padding-right: 25px;
  display: inline;
}
nav li:last-of-type {padding-right: 0;}
.site-url,
.site-url a         {color: #fff!important; font-weight: 300; display: block; text-align: left;}
.site-url a:hover   {text-decoration: underline;}
.back               {display: inline-block; text-align: left; margin: 15px 0;}

/* $GENERAL STYLING
================================================== */
.about,
.projects,
.projects-extra,
.contact  {padding: 50px 0;}
.gradient {
  background-image:
    linear-gradient(
      to bottom, 
      #E5EEC1, 
      #A2D4AB 20%, 
      #3EACA8 40%, 
      #547A82 60%,
      #5A5050 80%
    );
}

.gradient-two {
  background-image:
    linear-gradient(
      to bottom,  
      #FF7473,
      #FFC952 25%,
      #47B8E0 50%,
      #34314C 75%
    );
}

.one   {background-color: #E5EEC1;}
.two   {background-color: #A2D4AB;}
.three {background-color: #3EACA8;}
.four  {background-color: #547A82;}
.five  {background-color: #5A5050;}
.section-title {
  padding-bottom: 50px;
  font-weight: 700;
  text-align: center;
}

.more        {padding-top: 50px;}
.huge-font   {font-size: 9em;}
.center      {text-align: center;}
.row-1       {display: inline-block; margin-bottom: 50px;}
.strong-text {font-size: 125%; font-weight: bold;}
.margin-bot  {margin-bottom: 50px;}

.subtitle {font-weight: 300; color: rgba(255,255,255,.7);}

/* $WELCOME
------------------------- */
.welcome {min-height: 90vh; padding-bottom: 50px;}
.welcome-title {
  padding-top: 50px;
  text-align: center;
  font-size: 100%;
  font-weight: 400;
  color: #fff;
}
.welcome-img {width: 350px; margin: 0 auto; margin-top: 50px;}

/* $ABOUT
------------------------- */
.about                    {background-color: #E5EEC1; text-align: center; color: rgba(0,0,0,.87);}
.about .row:first-of-type {margin-bottom: 50px;}
.about-subinfo            {color: rgba(0,0,0,.54);}
.about-info               {padding-bottom: 5px; font-weight: bold;}
.about-img                {width: 75%; display: block; margin: 0 auto;}

/* $PROJECTS
------------------------- */
.projects       {background-color: #3EACA8;}
.project-thumb  {font-size: 1.5em;}
img.project-img {
  margin-bottom: 15px;
  box-shadow: 7px 7px 15px rgba(74, 74, 74, 1);
  padding: 0;
}
.project-link  {display: inline-block;}
.projects .row {margin-bottom: 50px;}

/* Projects Page */
.projects-page-header    {background-color: #3EACA8; padding-bottom: 10px;}
.projects-page-header ul {text-align: left;}
.projects-page           {background-color: #FCFFF2; color: rgba(0,0,0,.87); padding: 50px 0;}
.project-subtitle        {font-weight: 400; color: #3EACA8;}
.project-title           {border-bottom: 5px solid #E5EEC1;}
.project-title,
.project-title-secondary {color: #FFF; font-weight: 400; margin: 25px 0; display: inline; margin-right: 5%;}
.project-title-secondary {color: rgba(255,255,255,.5); border-bottom: 5px solid rgba(229,238,193,.5); padding-bottom: 5px;}
.project-title-secondary:hover {
  color: #FFF;
  border-bottom: 5px solid #E5EEC1;
  -webkit-transition: all 0s ease-out;
  -moz-transition:    all 0s ease-out;
  -o-transition:      all 0s ease-out;
  transition:         all 0s ease-out;
}
.project-subtitle   {margin-bottom: 15px;}
.project-details p,
.project-details ul {margin-bottom: 50px; padding-bottom: 0;}
.project-details ul {margin-left: 2em;}
.project-details ul:last-of-type {margin-bottom: 0;}
.project-details li {
  font-size: 1.25em;
  line-height:  1.5em;
  padding-bottom: .5em;
}
.phone,
.phone-border {position: relative;}
.phone-screen {
  position: absolute;
  left:   5%;
  right:  0;
  top:    8.5%;
  bottom: 0;
}
.phone-screen img {width: 95%;}
.fa-li            {color: #3EACA8;}
.projects-extra   {background-color: #3EACA8;}
.personas .row    {margin-bottom: 0;}
.invision         {text-align: center;}


/* $CONTACT 
------------------------- */
.contact  {
  min-height: 50vh;
  background-color: #5A5050;
  text-align: center; 
}
.email           {font-size: 2.5em; margin-bottom: 50px; word-wrap: break-word;}
.email i         {padding-right: 15px;}
.social-icon     {display: inline-block; padding: 0 5%;}
.social-icon img {width: 50px;}
.social-icon a   {font-size: 1.25em;}

/* $BUTTONS
================================================== */

/* $GRID
================================================== */
/* Row
------------------------- */
/* Makes row on page centered of specified width */
.row {
  zoom: 1;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}
/* row that takes full width of page */
.full-row {
  zoom: 1;
  width:  100%;
  margin-left: auto;
  margin-right: auto;
}
/* Used when you have an odd number of elements in even marked sections */
.centered-row {margin-right: 0;}
/* Row Clearing
------------------------- */
.row:before, .full-row:before {
  content: "";
  display: table;
}
.row:after, .full-row:after {
  content: "";
  display: table;
  clear:   both;
}
/* Column
------------------------- */
/* Link: http://twitter.github.io/bootstrap/assets/css/bootstrap-responsive.css */
.pull, /* float a single object LEFT */
.one-sixth,
.one-fifth,
.one-fourth,
.one-third,
.two-sixths,
.two-fifths,
.one-half,
.two-fourths,
.three-sixths,  
.three-fifths,  
.two-thirds,
.four-sixths,   
.three-fourths, 
.four-fifths,   
.five-sixths {
  float: left;
  margin-left: 4.1666666666667%;
}
.push {float: right;} /* float a single object RIGHT */
.full-row .push {margin-right:  4.1666666666667%;}

.one-sixth     {width: 13.194444444444%;}
.one-fifth     {width: 16.666666666667%;}
.one-fourth    {width: 21.875%;}
.one-third,
.two-sixths    {width: 30.555555555556%;}
.two-fifths    {width: 37.5%;}
.one-half,
.two-fourths,
.three-sixths  {width: 47.916666666667%;}
.three-fifths  {width: 58.333333333333%;}
.two-thirds,
.four-sixths   {width: 65.277777777778%;}
.three-fourths {width: 73.958333333333%;}
.four-fifths   {width: 79.166666666667%;}
.five-sixths   {width: 82.638888888889%;} 
.first         {clear: both; margin-left: 0;}

/* $MEDIA QUERIES 
========================= */
/* Mobile first. Using relative units */
/*28.75em*/
/* MOBILE */
@media screen and (min-width: 0) and (max-width: 40.4em){
  .row {
    max-width: 100%;
    padding-left: 5%;
    padding-right: 5%;
  }
  .one-sixth,
  .one-fifth,
  .one-fourth,
  .one-third,
  .two-sixths,
  .two-fifths,
  .one-half,
  .two-fourths,
  .three-sixths,  
  .three-fifths,  
  .two-thirds,
  .four-sixths,   
  .three-fourths, 
  .four-fifths,   
  .five-sixths {
    margin: 0;
    width: 100%
  }
  .about-img        {width: 100%;}
  .email {font-size: 2em;}
}
/* TABLET */
@media screen and (min-width: 40.5em) and (max-width: 63.9em){
  .row {
    max-width: 100%;
    padding-left: 5%;
    padding-right: 5%;
  }
  .one-sixth,
  .one-fifth,
  .one-fourth,
  .one-third,
  .two-sixths,
  .two-fifths,
  .one-half,
  .two-fourths,
  .three-sixths {width: 47.916666666667%;}
  .three-fifths,  
  .two-thirds,
  .four-sixths,   
  .three-fourths, 
  .four-fifths,   
  .five-sixths  {width: 100%}
}
/* COMPUTER */
@media screen and (min-width: 64em){}

    /* sherbert - YES
      #ACDBC9, 
      #DBEBC2 20%, 
      #FDD2B5 40%, 
      #F7A7A6 60%,
      #F48B94 80%
    */
    /* INVERTED SHERBERT -YES
      #EF4566, 
      #F69A9A 20%, 
      #F9CDAE 40%, 
      #C8C8A9 60%,
      #83AE9B 80%
    */
    /* DUSK - YES
      #F8B195, 
      #F67280 20%, 
      #C06C84 40%, 
      #6C5B7B 60%,
      #355C7D 80%
      */
      /* UNDERWATER - YES
      #E5EEC1, 
      #A2D4AB 20%, 
      #3EACA8 40%, 
      #547A82 60%,
      #5A5050 80%
      */
      /* CITRUS - YES
      #E1F5C4, 
      #ECE473 20%, 
      #F9D423 40%, 
      #F6903D 60%,
      #F05053 80%
      */

/*Drawn Lines*/
/*@import url(https://fonts.googleapis.com/css?family=Raleway:400,700);
figure.snip1387 {
  font-family: 'Lato', Arial, sans-serif;
  position: relative;
  float: left;
  overflow: hidden;
  margin: 10px 1%;
  min-width: 230px;
  max-width: 315px;
  width: 100%;
  color: #ffffff;
  text-align: center;
  font-size: 16px;
  background-color: #000000;
}
figure.snip1387 *,
figure.snip1387 *:before,
figure.snip1387 *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.55s ease;
  transition: all 0.55s ease;
}
figure.snip1387 img {
  max-width: 100%;
  backface-visibility: hidden;
  vertical-align: top;
}
figure.snip1387 figcaption {
  position: absolute;
  bottom: 100px;
  left: 40%;
  padding: 10px 10px;
}
figure.snip1387 figcaption:before,
figure.snip1387 figcaption:after {
  height: 2px;
  width: 400px;
  position: absolute;
  content: '';
  background-color: #ffffff;
}
figure.snip1387 figcaption:before {
  top: 0;
  left: 0;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}
figure.snip1387 figcaption:after {
  bottom: 0;
  right: 0;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}
figure.snip1387 figcaption div:before,
figure.snip1387 figcaption div:after {
  width: 2px;
  height: 600px;
  position: absolute;
  content: '';
  background-color: #FFF;
}
figure.snip1387 figcaption div:before {
  top: 0;
  left: 0;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
}
figure.snip1387 figcaption div:after {
  bottom: 0;
  right: 0;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
}

figure.snip1387 h2,
figure.snip1387 h4 {
  margin: 0;
  display: block;
  font-weight: 700;
  background-color: #3EACA8;
  padding: 5px 10px;
  color: #ffffff;
}
figure.snip1387 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
figure.snip1387:hover img,
figure.snip1387.hover img {
  zoom: 1;
  filter: alpha(opacity=50);
  -webkit-opacity: 0.5;
  opacity: 0.5;
}
figure.snip1387:hover figcaption:before,
figure.snip1387.hover figcaption:before,
figure.snip1387:hover figcaption:after,
figure.snip1387.hover figcaption:after,
figure.snip1387:hover figcaption div:before,
figure.snip1387.hover figcaption div:before,
figure.snip1387:hover figcaption div:after,
figure.snip1387.hover figcaption div:after {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}
figure.snip1387:hover figcaption:before,
figure.snip1387.hover figcaption:before,
figure.snip1387:hover figcaption:after,
figure.snip1387.hover figcaption:after {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}
*/