/* --------------------------------------------------
** style.css
** Stylesheet for www..com
** Author: James Hoover (jamesfhoover@gmail.com)
** Copyright: 2016
** -------------------------------------------------- */

/* TODO:
--------------------------------------------------
**
**
-------------------------------------------------- */

/* $HTML ELEMENTS
================================================== */
/* Typography
------------------------- */
html { 
  background-color: #F7F6F4;
  color: #fff;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
}
html, body {
	height: 	 100%;
  font-size: 100%;
}
h1, h2, h3, h4, h5, h6, p {}
h1 {font-size: 3.5em;}
h2 {font-size: 2.5em;}
h3 {font-size: 2.125em;}
h4 {font-size: 2em;} /* Same size as paragraph */
h5 {font-size: 1.875em;}
h6 {font-size: 1.5em;}
p {
  color: #fff;
  font-family: 'Lato'; /* change font to something normal */
	font-size: 		1em;
  line-height: 	1.5em;
  padding-bottom: .75em;
}
img {width: 100%;}
/* Links
------------------------- */
a,
a:link,
a:visited,
a:active,
a:hover {
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  -webkit-transition: all .3s ease-out;
  -moz-transition:    all .3s ease-out;
  -o-transition:      all .3s ease-out;
  transition:         all .3s ease-out;
}
a:hover {
  color: #3EACA8;
}
/* Highlight selection */
*::selection {background-color: #000; color: #fff;}

/* $NAVIGATION
================================================== */
nav {
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  height: 10vh;
  padding: 25px 0;
  /* text-shadow: 1px 1px 5px #5A5050; */
}
nav ul {display: inline-block; width: 100%; text-align: right;}
nav li {
  text-align: right;
  font-size: 1.75em;
  font-weight: 400;
  padding-right: 25px;
  display: inline;
}
nav li:last-of-type {padding-right: 0;}
a.nav-link {padding: 5px 10px;}
a.nav-link:hover {background-color: #fff; text-shadow: none;}
.site-info {text-align: left;}

.jump {height: 10vh;}

.welcome {min-height: 90vh; padding-bottom: 50px;}
.welcome-title {
  padding: 50px 0;
  text-align: center;
  font-size: 175%;
  font-weight: 400;
  color: #fff;
}
.welcome-img {width: 300px; margin: 0 auto;}
.otto {
  text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}

/* $PAGES
================================================== */
.about, .projects, .contact {padding: 50px 0;}
.projects, .contact {
  min-height: 75vh;
}
.gradient {
  background-image:
    linear-gradient(
      to bottom, 
      #E5EEC1, 
      #A2D4AB 20%, 
      #3EACA8 40%, 
      #547A82 60%,
      #5A5050 80%
    );
    /* sherbert - YES
      #ACDBC9, 
      #DBEBC2 20%, 
      #FDD2B5 40%, 
      #F7A7A6 60%,
      #F48B94 80%
    */
    /* INVERTED SHERBERT -YES
      #EF4566, 
      #F69A9A 20%, 
      #F9CDAE 40%, 
      #C8C8A9 60%,
      #83AE9B 80%
    */
    /* DUSK - YES
      #F8B195, 
      #F67280 20%, 
      #C06C84 40%, 
      #6C5B7B 60%,
      #355C7D 80%
      */
      /* UNDERWATER - YES
      #E5EEC1, 
      #A2D4AB 20%, 
      #3EACA8 40%, 
      #547A82 60%,
      #5A5050 80%
      */
      /* CITRUS - YES
      #E1F5C4, 
      #ECE473 20%, 
      #F9D423 40%, 
      #F6903D 60%,
      #F05053 80%
      */
}
.section-title {
  color: #fff;
  padding-bottom: 50px;
  font-weight: 700;
  text-align: center;
}
.merch img,
.bio img,
.disco img {width: 100%;}
.more {padding-top: 50px;}
.huge-font {font-size: 9em;}
.center {text-align: center;}
.row-1 {display: inline-block; margin-bottom: 50px;}
.strong-text {font-size: 150%;}
/* $WELCOME
------------------------- */

/* $ABOUT
------------------------- */
.about {background-color: #E5EEC1; text-align: center;}

/* $PROJECTS
------------------------- */
.projects,
.projects-page {background-color: #3EACA8;}
.project-img {width: 100%; margin-bottom: 25px;}
.project-link:hover img {outline: 3px solid #FFF;}

/* $CONTACT 
------------------------- */
.contact  {
  min-height: 50vh;
  background-color: #5A5050;
  text-align: center; 
}
.email {font-size: 2.5em; margin-bottom: 50px;}
.social-icon img {width: 50px;}
.social-icon a {font-size: 1.25em;}

/* $BUTTONS
================================================== */

/* $GRID
================================================== */
/* Row
------------------------- */
/* Makes row on page centered of specified width */
.row {
  zoom: 1;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}
/* row that takes full width of page */
.full-row {
  zoom: 1;
  width:  100%;
  margin-left: auto;
  margin-right: auto;
}
/* Row Clearing
------------------------- */
.row:before, .full-row:before {
  content: "";
  display: table;
}
.row:after, .full-row:after {
  content: "";
  display: table;
  clear:   both;
}
/* Column
------------------------- */
/* Link: http://twitter.github.io/bootstrap/assets/css/bootstrap-responsive.css */
.pull, /* float a single object LEFT */
.one-sixth,
.one-fifth,
.one-fourth,
.one-third,
.two-sixths,
.two-fifths,
.one-half,
.two-fourths,
.three-sixths,  
.three-fifths,  
.two-thirds,
.four-sixths,   
.three-fourths, 
.four-fifths,   
.five-sixths {
  float: left;
  margin-left: 4.1666666666667%;
}
.push {float: right;} /* float a single object RIGHT */
.full-row .push {margin-right:  4.1666666666667%;}

.one-sixth     {width: 13.194444444444%;}
.one-fifth     {width: 16.666666666667%;}
.one-fourth    {width: 21.875%;}
.one-third,
.two-sixths    {width: 30.555555555556%;}
.two-fifths    {width: 37.5%;}
.one-half,
.two-fourths,
.three-sixths  {width: 47.916666666667%;}
.three-fifths  {width: 58.333333333333%;}
.two-thirds,
.four-sixths   {width: 65.277777777778%;}
.three-fourths {width: 73.958333333333%;}
.four-fifths   {width: 79.166666666667%;}
.five-sixths   {width: 82.638888888889%;} 
.first {
  clear: both;
  margin-left: 0;
}

/* $MEDIA QUERIES 
========================= */
/* Mobile first. Using relative units */
/*28.75em*/
/* MOBILE */
@media screen and (min-width: 0) and (max-width: 40.4em){
  .row {
    max-width: 100%;
    padding-left: 5%;
    padding-right: 5%;
  }
  .one-sixth,
  .one-fifth,
  .one-fourth,
  .one-third,
  .two-sixths,
  .two-fifths,
  .one-half,
  .two-fourths,
  .three-sixths,  
  .three-fifths,  
  .two-thirds,
  .four-sixths,   
  .three-fourths, 
  .four-fifths,   
  .five-sixths {
    margin: 0;
    width: 100%
  }
}
/* TABLET */
@media screen and (min-width: 40.5em) and (max-width: 63.9em){
  .row {
    max-width: 100%;
    padding-left: 5%;
    padding-right: 5%;
  }
  .one-sixth,
  .one-fifth,
  .one-fourth,
  .one-third,
  .two-sixths,
  .two-fifths,
  .one-half,
  .two-fourths,
  .three-sixths {width: 47.916666666667%;}
  .three-fifths,  
  .two-thirds,
  .four-sixths,   
  .three-fourths, 
  .four-fifths,   
  .five-sixths  {width: 100%}
}
/* COMPUTER */
@media screen and (min-width: 64em){}